.list-nostyle {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.none {
    display: none;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &.focusable:active,
    &.focusable:focus{
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.invisible {
    visibility: hidden;
}

.clearfix:after {
    display: table;
    clear: both;
    content: '';
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}

.list-inline > li{
    display: inline-block;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.clear-margin {
    margin: 0 !important;
}

.clear-padding {
    padding: 0 !important;
}

.clear-pm {
    margin: 0 !important;   
    padding: 0 !important;
}

.pad-bot-only {
    padding-top: 0 !important; 
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.np-top {
    padding-top: 0 !important;
}

.np-side {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.top-pd{
    padding-top: 50px !important;
}

.top-mg {
    margin-top: 50px !important;
}

.mg-10 {
    margin: 10px auto !important;
}

.mg-20 {
    margin: 20px auto !important;
}

.bg-dg {
    background-color: $black20;
    width: 100% !important;
}

.mg-bot-sm {
    margin-bottom: 15px !important;
}