
/* Config
--------------------------------------------------------------------------- */

$input_border_size      : 1 * 1px;
$input_border_color     : $black40;
$input_padding          : $space/3;
$input_bg               : #fff;


/* Base style
--------------------------------------------------------------------------- */

.form__row {
    margin-bottom: $space/2;
}

.form-label {
    color: $black70;
    display: block;
    margin-top: $space/3;
}

.header-form {
  margin: 7px 20px;
  text-align: center;
  display: none;
  @media #{$large} {
    width: 100%;
    input {
      background: $black20;
      width:80%;
    }
    display: inline-block;
  }
  .header-form-container {
    width: 80%;
  }
}

.select-style {
  border: 1px solid #ccc;
  width: 120px;
  overflow: hidden;
  background-color: #fff;
  background: $orange url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
  font-family: "Lato",Calibri,Arial,sans-serif;
  padding: 7px 8px;
  min-height: 35px;
  width: 130%;
  color: white;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
    option {
      background: white;
      color: $black70;
    }
}

.select-style select:focus {
    outline: none;
}

.form-input {
    border-radius: 0;
    min-height: 36px;
    padding: $input_padding;
    border: solid $input_border_size $input_border_color;
    font-family: inherit;
    background: $input_bg;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    &:focus {
        border-color: $orange;
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
    }
}

/* Overwrite selectize style
------------------------------ */
.selectize-control {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 15px !important;
  margin-bottom: 5px !important;
  display: inline-block;
  border-radius: 0 !important;
  width: 100%;
  padding: 0 !important;
  margin-left: 5px !important;
  @media #{$medium} {
    margin-right: 30px !important;
    width: 70% !important;
  }
  .selectize-input {
    div {
      padding-top: 10px !important;
      color: $black70 !important;
    }
    color: $black70 !important;
    border: none !important;
    text-align: left !important;
    height: 40px !important;
    padding: 3px 8px !important;
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    input {
      padding: 0 !important;
      outline: none !important;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }
  }
  .selectize-dropdown-content {
    background: #fafafa !important; 
    .option {
      font-family: 'Lato', Calibri, Arial, sans-serif;
      color: $black70 !important; 
      font-size: 15px !important;
    }
  }
}

.form-input--error {
    border: 1px solid #d32c31;
    outline: none;
    &:focus {
        border-color: #d32c31;
    }
}

.form-input--error-message {
    color: $red;
    padding-right: 30px !important; 
}

.form-input--success {
    border-color: #4eb74a;

    &:focus {
        border-color: #4eb74a;
    }
}


/* Modifier
--------------------------------------------------------------------------- */

.form-filter--left {
    @media #{$large} {
        text-align: left;
        margin-left: 20px;
    }
}

.form-input--block {
    width: 100%;
}

.form-select {
    padding: 5px 10px;
    outline: none;
    border: 1px solid $black30;
    background: none;
    color: $black70;
    border-radius: 2px;
    font-family: 'Lato';
    @include animate-transition(.25s);
    option {        
        background: $black20;
        &:hover {
            background: $orange;
        }
    }
}

.form-submit-search {
    padding: 3px 10px 2px;
    color: white;
    border: none;
    @include animate-transition(.25s);
    background: $darkorange;
    &:hover {
        background: $orange;
    }
}

.form-submit-search__vendor {
  padding: 6px 10px 5px;
}

.form-manage {
    display: inline-block;
}

/* Login Register Form Menu
--------------------------------------------------------------------------- */

.login-register__container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1001;
  top: 0;
  display: none;
  .login-register__form-container {
    h2 {
      font-size: 2.5em;
      margin: 0;
    }
    .login-register__close-btn {
      width: 30px;
      height: 30px;
      background-color: $black80;
      color: white;
      padding-top: 2px;
      margin: 0 auto;
      margin-bottom: 10px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      @include animate-transition(.25s);
      cursor: pointer;
      &:hover {
        background-color: $black50;
      }
    }
    @media #{$medium} {
      width: 500px;
      margin: 100px auto;
    }
    width: 80%;
    margin: 20px auto;
    color: $black70;
    background-color: $black20;
    padding: 30px;
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      outline: none;
      border: 0;
    }
    a {
      color: $darkorange;
      &:hover {
        color: $orange;
      }
    }
    label {
      display: none !important;
    }
  }
}

#register-form, #login-form, #contact-form, #popup-login-form  {
  width: 100%;
  @media #{$medium} {
    width: 500px;
    min-height: 300px;
  }
  margin: 0 auto;
}

#popup-login-form{
  width: auto;
}

.form__pull-right {
  float: right;
}

.form-checkbox {
  margin: 20px 5px 20px 0;
}

.has-error input{
  border-color: $red !important;
}