
// http://www.w3.org/html/wg/drafts/html/master/common-idioms.html#rel-up

/* Config
--------------------------------------------------------------------------- */

$bread_space        : $space/2;
$bread_separator    : '';


/* Style
--------------------------------------------------------------------------- */

.breadcrumb {
    padding: 0;
    margin-left: $bread_space * -1;
    list-style: none;
    margin-bottom: 0;

    > li {
        position: relative;
        display: inline;
        padding: 0 $bread_space;

        &:after {
            position: absolute;
            right: 100%;
            color: #444;
            content: $bread_separator;
        }

        &:first-child:after {
            content: '';
        }
    }
    .active {
        background: $darkorange;
        a {
            color: white;
        }
    }
}

/* 
--------------------------------------------------------------------------- 
  PAGE BREADRUMB CONTAINER + NOTIFICATION CONTAINER
--------------------------------------------------------------------------- */

.page-breadcrumb--container,
.page-notification--container {
    @include animate-transition(.5s);
    .breadcrumb,
    .page-notification--message {
        background: $lightorange;
        li {
            &:after {
                content: '/';
            }
        }
    }
    .page-notification--close-btn {
        float: right;
        margin-right: 20px;
        cursor: pointer
    }
}

.page-notification--container {
    position:fixed;
    top: 75px;
    width: 100%;
    z-index:100;
    color: white;
    .page-notification--message {
        padding: 10px 0;
        width: 100%;
        background-color: lighten($darkgreen, 10%);
        font-weight: bold;
        text-align: center;
    }
}

.message-error {
    .page-notification--message {
        background-color: $red !important;
    }
}

.message-warning {
    .page-notification--message {
        background-color: $darkorange !important;
    }
}

.mid-menu-breadcrumb--container {
    .breadcrumb {
        .mid-menu-open {
            background: $orange !important;
            color: white !important;
            span:before {
                @include rotate-transform(135deg);
            }
        }
        li:first-child {
            @include animate-transition(.25s);
            display: block;
            border: none;
            background: $black20;
            color: $darkorange;
            padding: 10px 5px;
            cursor: pointer;
            @media #{$medium} { 
                display: none;
            }
            span:before {
                @include animate-transition(.25s);
                content: '+';
                font-weight: bold;
                position: absolute;
                left: 10px;
                font-size: 2em;
            }
        }
        li {
            width: 100%;
            display: none;
            @media#{$medium} {
                min-width: 95px;
                width: auto;
                border: none;
                display: inline-block;
            }
        }
    }
}

.page-breadcrumb--container,
.mid-menu-breadcrumb--container {
    .breadcrumb {
        padding: 5px;
        @media #{$large} {
            padding: 10px;
        }
        width: auto;
        text-align: center;
        li {
            text-transform: uppercase;
            a {
                font-size: .75em;
                @media #{$large} {
                    font-size: .9em;
                }
                @include animate-transition(.25s);
                color: $black70;
                font-weight: bold;
                &:hover {
                    color: $darkorange;
                }
            }
            &:first-child:after {
                content: '';
            }
            &:last-child {
                font-weight: bold;
                color: $darkorange;
            }
        }
    }
}