meta charset="utf-8"
meta content="notranslate" name="google"
meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
meta content="Larisni adalah partner B2B Anda yang terpercaya" name="description"
meta content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1" name="viewport"
meta content="telephone=no" name="format-detection"

title Larisni | Partner B2B Anda
link href="/assets/img/favicon.ico" rel="apple-touch-icon-precomposed" sizes="152x152"
link href="/assets/img/favicon.ico" rel="icon" type="image/x-icon"
link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"

script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"

javascript:
  window.myPrefix = '';

= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true

= csrf_meta_tags
