meta content="Larisni | Partner B2B Anda" property="og:title" /
meta content="website" property="og:type" /
meta content="http:/larisni.com/assets/img/logo.png" property="og:image" /
meta content="http://larisni.com" property="og:url" /
meta content="Bisnis Laris, Jualan Praktis. Kami menyediakan ribuan barang dari seller terpercaya." property="og:description" /

meta content="summary_large_image" name="twitter:card" /
meta content="@larisni" name="twitter:site" /
meta content="Larisni | Partner B2B Anda" name="twitter:title" /
meta content="http:/larisni.com/assets/img/logo.png" name="twitter:image" /
meta content="http://larisni.com" name="twitter:url" /
meta content="Bisnis Laris, Jualan Praktis. Kami menyediakan ribuan barang dari seller terpercaya." name="twitter:description" /
